xml/ModInfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">

	<xs:annotation>
		<xs:documentation>
			Unofficial schema for Civ 6 .modinfo files. Created by PlotinusRedux. Version 0.2 1/5/2016
		</xs:documentation>
	</xs:annotation>

	<xs:complexType name="ModRelations">
		<xs:sequence>
			<xs:element name="Mod">
				<xs:complexType>
					<xs:attribute name="id" type="xs:string" use="required"/>
					<xs:attribute name="title" type="xs:string"/>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ItemList">
		<xs:sequence>
			<xs:element name="File" minOccurs="1" maxOccurs="unbounded" type="FileType"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="BaseComponent">
		<xs:all>
			<xs:element name="Properties" minOccurs="0">
				<xs:complexType>
					<xs:all>
						<xs:element name="RuleSet" type="xs:string" minOccurs="0"/>
						<xs:element name="LoadOrder" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Signed integer determining component load order globally across mods. Lower numbers load earlier.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Items" type="ItemList" minOccurs="1"/>
		</xs:all>
		<xs:attribute name="id" type="xs:string" default=""/>
	</xs:complexType>

	<xs:complexType name="ContextComponent">
		<xs:all>
			<xs:element name="Properties" minOccurs="0">
				<xs:complexType>
					<xs:all>
						<xs:element name="RuleSet" type="xs:string" minOccurs="0"/>
						<xs:element name="LoadOrder" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Signed integer determining component load order globally across mods. Lower numbers load earlier.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Context" type="xs:string" minOccurs="1">
							<xs:annotation>
								<xs:documentation>UI Context, like "InGame"</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Items" type="ItemList" minOccurs="1"/>
		</xs:all>
		<xs:attribute name="id" type="xs:string" default=""/>
	</xs:complexType>
	<xs:complexType name="AddUserInterfacesType">
		<xs:sequence>
			<xs:element name="Properties">
				<xs:annotation>
					<xs:documentation>Custom properties.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:sequence maxOccurs="unbounded">
						<xs:element name="Context" type="xs:string" fixed="InGame"/>
						<xs:any minOccurs="0"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="File" type="XmlFileName" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>XML files defining the user interface. The game engine will load the LUA files with the same base file name.
						<p>Note, you have to still list the LUA files in Files/File elements.</p>
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
		<xs:attribute name="id" type="xs:string" default=""/>
	</xs:complexType>
	<xs:complexType name="BaseSetting">
		<xs:all>
			<xs:element name="Properties" minOccurs="0">
				<xs:complexType>
					<xs:all>
						<xs:element name="LoadOrder" type="xs:integer" minOccurs="0">
							<xs:annotation>
								<xs:documentation>Signed integer determining component load order globally across mods. Lower numbers load earlier.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Items" type="ItemList" minOccurs="1"/>
		</xs:all>
		<xs:attribute name="id" type="xs:string" default=""/>
	</xs:complexType>

	<xs:complexType name="MapSetting">
		<xs:all>
			<xs:element name="Properties" minOccurs="0">
				<xs:complexType>
					<xs:all>
						<xs:element name="Group" type="xs:string" minOccurs="1"/>
						<xs:element name="Name" type="xs:string" minOccurs="1"/>
						<xs:element name="Description" type="xs:string" minOccurs="0"/>
					</xs:all>
				</xs:complexType>
			</xs:element>
			<xs:element name="Items" type="ItemList" minOccurs="1"/>
		</xs:all>
		<xs:attribute name="id" type="xs:string" default=""/>
	</xs:complexType>
	<xs:simpleType name="FileName">
		<xs:restriction base="xs:string">
			<xs:pattern value=".+\.([xX][mM][lL]|[sS][qQ][lL])"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="LuaFileName">
		<xs:restriction base="xs:string">
			<xs:pattern value=".+\.[lL][uU][aA]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="XmlFileName">
		<xs:restriction base="xs:string">
			<xs:pattern value=".+\.[xX][mM][lL]"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="DdsFileName">
		<xs:restriction base="xs:string">
			<xs:pattern value=".+\.[Dd][Dd][Ss]"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:group name="Translations">
		<xs:all>
			<xs:element name="en_US" type="xs:string" minOccurs="0"/>
			<xs:element name="fr_FR" type="xs:string" minOccurs="0"/>
			<xs:element name="de_DE" type="xs:string" minOccurs="0"/>
			<xs:element name="it_IT" type="xs:string" minOccurs="0"/>
			<xs:element name="es_ES" type="xs:string" minOccurs="0"/>
			<xs:element name="ja_JP" type="xs:string" minOccurs="0"/>
			<xs:element name="ru_RU" type="xs:string" minOccurs="0"/>
			<xs:element name="pl_PL" type="xs:string" minOccurs="0"/>
			<xs:element name="ko_KR" type="xs:string" minOccurs="0"/>
			<xs:element name="zh_Hant_HK" type="xs:string" minOccurs="0"/>
			<xs:element name="zh_Hans_CN" type="xs:string" minOccurs="0"/>
			<xs:element name="pt_BR" type="xs:string" minOccurs="0"/>
		</xs:all>
	</xs:group>

	<xs:element name="Mod">
		<xs:complexType>
			<xs:all>
				<xs:element name="Properties" minOccurs="1">
					<xs:complexType>
						<xs:all>
							<xs:element name="Name" type="xs:string" minOccurs="1"/>
							<xs:element name="Teaser" type="xs:string" minOccurs="1"/>
							<xs:element name="Trusted" type="xs:string" minOccurs="0"/>
							<xs:element name="ShowInBrowser" type="xs:string" minOccurs="0"/>
							<xs:element name="DisabledAtStartup" type="xs:int" minOccurs="0"/>
							<xs:element name="EnabledByDefault" type="xs:int" minOccurs="0"/>
							<xs:element name="Stability" type="xs:string" minOccurs="0"/>
							<xs:element name="Description" type="xs:string" minOccurs="0"/>
							<xs:element name="Authors" type="xs:string" minOccurs="0"/>
							<xs:element name="SpecialThanks" type="xs:string" minOccurs="0"/>
							<xs:element name="Created" type="xs:string"/>
							<xs:element name="CompatibleVersions">
								<xs:annotation>
									<xs:documentation>Possible values are 1.2, 2.0.
										<p>1.2 means Rise and Fall major update. It doesn't mean the mod must run with Rise and Fall DLC purchased/enabled.</p>
										<p>2.0 means Gathering Storm major update. It doesn't mean the mod must run with Gathering Storm DLC purchased/enabled.</p>
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="AffectsSavedGames" type="xs:integer" minOccurs="0" default="1">
								<xs:annotation>
									<xs:documentation>
										If the value is 1, ie. true, the mod ID will be included in save games.
										When the engine loads a save game, the included mods will be loaded automatically if the game engine can find the mod.
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:all>
					</xs:complexType>
				</xs:element>
				<xs:element name="References" type="ModRelations" minOccurs="0"/>
				<xs:element name="Dependencies" type="ModRelations" minOccurs="0"/>
				<xs:element name="Blocks" type="ModRelations" minOccurs="0"/>
				<xs:element name="Files">
					<xs:annotation>
						<xs:documentation>Feed files into game engine for later processing. UI script files should be listed here as well.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="File" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>

				<xs:element name="FrontEndActions" type="InGameActionsType" minOccurs="0" />
				<xs:element ref="ComponentsAbs" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Items loaded when game first starts</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Settings" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Objects loaded on game set up</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:choice minOccurs="1" maxOccurs="unbounded">
							<xs:element name="Custom" type="BaseSetting" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Updates to Configuration database (DebugConfiguration.sqlite). Some people are putting Component elements under Items here--they don't get read into the database. FileTypes: xml, sql</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Map" type="MapSetting" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Custom map. FileTypes: Civ6Map</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="LocalizedText" type="BaseSetting" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Localized text for game setup screens. FileTypes: xml</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="WorldBuilder" type="BaseSetting" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>Not sure, but presumably updates to the world builder tables. FileTypes: xml, sql?</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Icons" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>XML files to add icons to the game that are needed for the game setup screens. FileTypes: xml</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ModArt" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">
								<xs:annotation>
									<xs:documentation>
										.dep file that tells which new .artdef files to load that are needed for the game setup screens.
										The .artdef files must have the same name as base artdefs, and aren't included in the .modinfo file at all, just the mod's directory.
										FileTypes: dep
									</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="LocalizedText" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Optional translations for text in .modinfo itself (mod/Properties and mod/Settings/Map/Properties)</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Text" maxOccurs="unbounded">
								<xs:complexType>
									<xs:group ref="Translations"/>
									<xs:attribute name="id" type="xs:string"/>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:all>
			<xs:attribute name="id" type="xs:string" use="required"/>
			<xs:attribute name="version" type="xs:int" default="0"/>
		</xs:complexType>
	</xs:element>
	<xs:element name="ComponentsAbs" abstract="true"/>
	<!--	<xs:element name="Components" substitutionGroup="ComponentsAbs">-->
	<!--		<xs:complexType>-->
	<!--			<xs:choice minOccurs="1" maxOccurs="unbounded">-->
	<!--				<xs:element name="UpdateDatabase" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">-->
	<!--					<xs:annotation>-->
	<!--						<xs:documentation>Updates to the main game database (DebugGameplay.sqlite). FileTypes: xml, sql</xs:documentation>-->
	<!--					</xs:annotation>-->
	<!--				</xs:element>-->
	<!--				<xs:element name="UpdateAudio" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">-->
	<!--					<xs:annotation>-->
	<!--						<xs:documentation>Adds audio files. FileTypes: ini, bnk, txt, xml</xs:documentation>-->
	<!--					</xs:annotation>-->
	<!--				</xs:element>-->
	<!--				<xs:element name="UpdateARX" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">-->
	<!--					<xs:annotation>-->
	<!--						<xs:documentation>Logitech ARX for displaying game info on a mobile device. FileTypes: html, etc.?</xs:documentation>-->
	<!--					</xs:annotation>-->
	<!--				</xs:element>-->
	<!--				<xs:element name="ModArt" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">-->
	<!--					<xs:annotation>-->
	<!--						<xs:documentation>.dep file that tells which new .artdef files to load. The .artdef files must have the same name as base artdefs, and aren't included in the .modinfo file at all, just the mod's directory. FileTypes: dep</xs:documentation>-->
	<!--					</xs:annotation>-->
	<!--				</xs:element>-->
	<!--				<xs:element name="UserInterface" type="ContextComponent" minOccurs="0" maxOccurs="unbounded">-->
	<!--					<xs:annotation>-->
	<!--						<xs:documentation>New UI files. For each XXX.xml, an XXX.lua is implied FileTypes: xml</xs:documentation>-->
	<!--					</xs:annotation>-->
	<!--				</xs:element>-->
	<!--				<xs:element name="LocalizedText" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">-->
	<!--					<xs:annotation>-->
	<!--						<xs:documentation>In-game localized text. FileTypes: xml</xs:documentation>-->
	<!--					</xs:annotation>-->
	<!--				</xs:element>-->
	<!--				<xs:element name="GameplayScripts" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">-->
	<!--					<xs:annotation>-->
	<!--						<xs:documentation>Scripts that run in the main Lua context at the start of the game and on reloads. FileTypes: lua</xs:documentation>-->
	<!--					</xs:annotation>-->
	<!--				</xs:element>-->
	<!--				<xs:element name="ImportFiles" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">-->
	<!--					<xs:annotation>-->
	<!--						<xs:documentation>Overrides of files under the main Assets folder. FileTypes: xml, lua, *?</xs:documentation>-->
	<!--					</xs:annotation>-->
	<!--				</xs:element>-->
	<!--				<xs:element name="Icons" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">-->
	<!--					<xs:annotation>-->
	<!--						<xs:documentation>XML files to add icons to the game. FileTypes: xml</xs:documentation>-->
	<!--					</xs:annotation>-->
	<!--				</xs:element>-->
	<!--			</xs:choice>-->
	<!--		</xs:complexType>-->
	<!--	</xs:element>-->
	<xs:element name="InGameActions" type="InGameActionsType" substitutionGroup="ComponentsAbs"/>
	<xs:complexType name="FileType">
		<xs:simpleContent>
			<xs:extension base="FileName">
				<xs:attribute name="Priority" type="xs:integer" default="0">
					<xs:annotation>
						<xs:documentation>Signed integer determining the load order of files within the component. Higher numbers load earlier.</xs:documentation>
					</xs:annotation>
				</xs:attribute>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>
	<xs:complexType name="InGameActionsType">
		<xs:choice minOccurs="1" maxOccurs="unbounded">
			<xs:element name="UpdateDatabase" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Updates to the main gameplay database, ie. DebugGameplay.sqlite, created by Base/Assets/Gameplay/Data/Schema/01_GameplaySchema.sql.</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="InGameActionTypeBase">
							<xs:choice maxOccurs="unbounded">
								<xs:element name="Properties">
									<xs:annotation>
										<xs:documentation>Custom properties.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence maxOccurs="unbounded">
											<xs:any minOccurs="0" processContents="skip"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="File" type="FileType" minOccurs="1" maxOccurs="unbounded"/>
							</xs:choice>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateAudio" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Adds audio files. FileTypes: ini, bnk, txt, xml</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateARX" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Logitech ARX for displaying game info on a mobile device. FileTypes: html, etc.?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ModArt" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>.dep file that tells which new .artdef files to load. The .artdef files must have the same name as base artdefs, and aren't included in the .modinfo file at all, just the mod's directory. FileTypes: dep</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddUserInterfaces" type="AddUserInterfacesType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>New UI files. For each XXX.xml, an XXX.lua is implied FileTypes: xml</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpdateText" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Modify the text database, created by Base\Assets\Text\LocalizationDatabase_Schema.sql</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="InGameActionTypeBase">
							<xs:choice maxOccurs="unbounded">
								<xs:element name="Properties">
									<xs:annotation>
										<xs:documentation>Custom properties.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence maxOccurs="unbounded">
											<xs:any minOccurs="0" processContents="skip"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="File" type="FileName" minOccurs="1" maxOccurs="unbounded"/>
							</xs:choice>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="AddGameplayScripts" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Scripts that run in the main Lua context at the start of the game and on reloads. FileTypes: lua</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="InGameActionTypeBase">
							<xs:choice maxOccurs="unbounded">
								<xs:element name="Properties">
									<xs:annotation>
										<xs:documentation>Custom properties.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence maxOccurs="unbounded">
											<xs:any minOccurs="0" processContents="skip"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="File" type="LuaFileName" minOccurs="1" maxOccurs="unbounded"/>
							</xs:choice>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="UpdateIcons" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Modify the icon
						<b>
							<a href="https://www.sqlite.org/inmemorydb.html">in-memory</a>
						</b>
						database created by Base/Assets/Database/IconManager.sql
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="InGameActionTypeBase">
							<xs:choice maxOccurs="unbounded">
								<xs:element name="Properties">
									<xs:annotation>
										<xs:documentation>Custom properties.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence maxOccurs="unbounded">
											<xs:any minOccurs="0" processContents="skip"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="File" type="XmlFileName" minOccurs="1" maxOccurs="unbounded"/>
							</xs:choice>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="ImportFiles" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Overrides of files under the main Assets folder.
						To reload changes, you must restart game engine.
						FileTypes: xml, lua, *?
					</xs:documentation>
				</xs:annotation>
				<xs:complexType>
					<xs:complexContent>
						<xs:extension base="InGameActionTypeBase">
							<xs:choice maxOccurs="unbounded">
								<xs:element name="Properties">
									<xs:annotation>
										<xs:documentation>Custom properties.</xs:documentation>
									</xs:annotation>
									<xs:complexType>
										<xs:sequence maxOccurs="unbounded">
											<xs:any minOccurs="0" processContents="skip"/>
										</xs:sequence>
									</xs:complexType>
								</xs:element>
								<xs:element name="File" type="DdsFileName" minOccurs="1" maxOccurs="unbounded"/>
							</xs:choice>
						</xs:extension>
					</xs:complexContent>
				</xs:complexType>
			</xs:element>
			<xs:element name="Icons" type="BaseComponent" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>XML files to add icons to the game. FileTypes: xml</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="InGameActionTypeBase">
		<xs:attribute name="id" type="xs:string"/>
	</xs:complexType>
</xs:schema>